<h1>Student Details</h1>
<img src="<%= @student.url  %>">
<p>First Name: <%= @student.first_name %></p>
<p>Last Name: <%= @student.second_name %></p>
<p>Age: <%= @student.age %></p>

<p>House: <%= @student.house_id %></p>
<img src="<%= @house.url  %>">